<a class="mobile-menu-icon visible-xs-block" (click)="moveSidebar()"><span id="mobile-menu-icon" class="glyphicon glyphicon-align-justify"></span></a>

<div class="background" id="bg"></div>

<div class="menu">
  <div class="gruvo-block menu" id="sidenav">
    <div class="photo  img-circle center-block">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCQTDXAX0S-RLwVQY82kLEyKsyKV8Lxh5ecAKP6hLGA38Voims-w" class="img-responsive">
    </div>
    <h4 class="center-block">{{'NAME'}}</h4>
    <gr-menu-items></gr-menu-items>
    <div class="recommendation">
      <h4>Recommendations</h4>
      <gr-recommendation *ngFor="let user of recommendations" [data]="user"></gr-recommendation>
    </div>
  </div>
</div>
