<div *ngIf="!isDeleted" class="post" id="{{ tweet.id }}">
  <div class="media">
    <div class="media-left">
      <a routerLink="/profile/{{tweet.userId}}">
        <img [src]="img"routerLink="/profile/{{tweet.userId}}" class="photoTweet media-object">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <a class="post-title" routerLink="/profile/{{tweet.userId}}">{{tweet.userLogin}}</a>
        <span class="post-date"> {{tweet.sendingDateTime | date:'MMM d'}}</span>
        <i *ngIf="tweet.isDeletable" class="far fa-trash-alt" (click)="deleteTweet($event)"></i>
      </h4>
      <p class="post-text">{{tweet.message}}</p>
    </div>
  </div>
  <div class="action-list">
    <div class="action action-comment">
      <a *ngIf="showComments" (click)="openCommentsModal()" class="comments">
        <i class="glyphicon glyphicon-comment"></i>
      </a>
    </div>
    <div class="action action-like">
      <button class="btn-action action-like" (click)="like()">
        <div>
          <i [class.red]="isLikedByUser" class="glyphicon glyphicon-heart-empty icon-like"></i>
        </div>
        <span class="count">{{numOfLikes}}</span>
      </button>
    </div>

  </div>

</div>
