<div [hidden]="isDeleted" class="post" id="{{ tweet.id }}">
  <div class="media">
    <div class="media-left">
      <a routerLink="/profile/{{tweet.userId}}">
        <img [src]="img"routerLink="/profile/{{tweet.userId}}" class="photoTweet media-object">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><a class="post-title" routerLink="/profile/{{tweet.userId}}">{{tweet.userLogin}}</a></h4>
      <p class="post-text">{{tweet.message}}</p>
    </div>
  </div>
  <div class="action-list">
    <p class="post-date">{{tweet.sendingDateTime | date:'MMM d, y, h:mm a'}}</p>
    <div>
      <a (click)="deleteTweet($event)" *ngIf="tweet.isDeletable" class="btn btn-default delete">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </a>
      <a (click)="openCommentsModal()" *ngIf="showComments" class="btn btn-default">
        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
      </a>
      <div class="btn btn-default action action-like">
        <div class="btn-action action-like" (click)="like()">
          <div>
            <img src="{{likeImgUrl}}" class="icon icon-like img-responsive">
          </div>
          <span class="count">{{numOfLikes}}</span>
        </div>
      </div>
    </div>
  </div>


</div>
