<div *ngIf="isDeleted" class="post" id="{{ tweet.id }}">
  <h4 class="post-header">
    <a class="post-title" routerLink="/profile/{{tweet.userId}}">{{tweet.userLogin}}</a>
    <i *ngIf="tweet.isDeletable" class="far fa-trash-alt"  (click)="deleteTweet($event)"></i>
  </h4>
  <p class="post-text">{{tweet.message}}</p>
  <p class="post-date">{{tweet.sendingDateTime | date:'MMM d, y, h:mm a'}}</p>

  <div class="action-list">
    <a (click)="openCommentsModal()" *ngIf="showComments" class="btn btn-default">
      <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
    </a>
    <div class="btn btn-default action action-like">
      <button class="btn-action action-like" (click)="like()">
        <div>
          <img src="{{likeImgUrl}}" class="icon icon-like img-responsive">
        </div>
        <span class="count">{{numOfLikes}}</span>
      </button>
    </div>

  </div>


</div>
