.post {
  padding: 10px 20px 10px 20px;
  border: 1px solid #e6ecf0;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: rgb(243, 243, 243);
}

.post:hover {
  background-color: #e2e1e1;
}

a:hover {
  cursor: pointer;
}

.far {
  float: right;
}

.glyphicon {
  line-height: 21px;
  font-size: 1.4em;
  
}

.post .post-header i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #475774;
  height: 3rem;
  width: 3rem;
  text-align: center;
  font-size: 14px;
}

.post .post-header i:hover {
  color: #eb7a28;
  cursor: pointer;
}

.post .post-header a.post-title {
  color: #333;
  font-weight: bold;
  cursor: pointer;
    
}

.post .post-header a.post-title:hover,
.post .post-header a.post-title:active,
.post .post-header a.post-title:visited {
  text-decoration: none;
  color: #333;
}

.post p {
  font-size: 14px;  
}

.post p.post-text {
  padding-right: 1rem;
  text-align: justify;
}

.action-list {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-action {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
}

.icon-like {
    flex-flow: column;
    font-size: 1.6em;
}

.count {
  flex-flow: column;
  padding-left: 2px;
}

.red {
  color: red;
}

.action {
  margin: 0 10px;
}

.comments {
  color: #73d6fb;
  text-shadow: 1px 1px 2px black;
}

.post-date {
  font-size: 0.7em;
  color: #716f6f;
}

.post-date:before {
  content: "\00b7";
  font-size: 1.4em;
}

.post-text {
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
}


