.post {
  padding: 10px 10px 10px 10px;  
}
  .post:hover {
    background-color: #f4f5f7;
  }
a:hover {
  cursor: pointer;
}

.post hr {
  color: #ccc;
  margin-bottom: 0;
  margin-top: 1rem;
  border-top: 1px solid #ccc;
}
.post .post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
  .post .post-header i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #475774;
    height: 3rem;
    width: 3rem;
    text-align: center;
    font-size: 14px;
  }

    .post .post-header i:hover {
      color: #eb7a28;
      cursor: pointer;
    }
  .post .post-header a.post-title {
    color: #333;
    font-weight: bold;
    cursor: pointer;
    
  }
    .post .post-header a.post-title:hover,
    .post .post-header a.post-title:active,
    .post .post-header a.post-title:visited {
      text-decoration: none;
      color: #333;
    }
.post p {
  font-size: 14px;  
}
  .post p.post-date {
    color: #707070;
    font-size: 12px;
    margin: 0;
    padding-bottom: 10px;
  }
.post p.post-text {
  padding-right: 1rem;
  text-align: justify;
}

.action-list {
  width: 100%;
  display: flex;
  flex-flow:row;
  align-items:flex-end;
  justify-content: space-between;
}

.btn-action {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
}

.icon-like {
    flex-flow: column;

}

.count {
  flex-flow: column;
}
