<div class="main">
  <div class="container header">
    <a class="navbar-brand">Gruvo</a>
    <gr-login-form class="pull-right"></gr-login-form>
  </div>

  <div class="content ">
    <div class="inner container">
      <div class="intro container">
        <p>
          Share your thoughts all around the world
        </p>
        <p>
          Be the first to find out what is happening in the life of your friends
        </p>

      </div>
      <div class="container">
        <gr-signup-form></gr-signup-form>
      </div>
    </div>
   </div>

  <div class="footer container">
    <p>
      Footer
    </p>
  </div>
</div>
