  <div class="content ">
    <div class="inner">
      <div class="intro ">
        <p>
          Share your thoughts all around the world
        </p>
        <p>
          Be the first to find out what is happening in the life of your friends
        </p>
      </div>
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="LogIn(loginForm.value)" novalidate>
        <h1>Log In</h1>
        <div class="form-group">
          <label for="inputEmail">Email address <span class="text-danger" *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">is not valid!</span></label>
          <input [formControl]="loginForm.controls['email']" [ngClass]="{'not-valid':!loginForm.controls['email'].valid && loginForm.controls['email'].touched}"  type="email" class="form-control" id="inputEmail"  placeholder="Email" >
        </div>
        <div class="form-group">
          <label for="inputPassword">Password <span class="text-danger" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">is not valid!</span></label>
          <input [formControl]="loginForm.controls['password']" [ngClass]="{'not-valid':!loginForm.controls['password'].valid && loginForm.controls['password'].touched}" type="password" class="form-control" id="inputPassword" placeholder="Password" >
          
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid">Submit</button>
        <br />
        <a href="signup"><h5>Don't have an account yet?</h5></a>
      </form>
    </div>
  </div>
