.content {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: center;
}

.passw-title {
  border-bottom: 1px solid lightgrey;
}

.password {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
}

.buttons {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
