<div class="content">
  <form class="password container col-xs-11" [formGroup]="editPasswordForm" (ngSubmit)="editPassword(editPasswordForm.value)">

    <div class="form-group passw-title">
      <h4><b>Password</b></h4>
    </div>

    <div class="form-group" [ngClass]="{'has-error':!isValidControl('oldPassw')}">
      <label for="old-passw">
        Old password
        <span class="text-danger" *ngIf="!isValidControl('oldPassw')">is not valid!</span>
      </label>
      <input id="old-passw" [formControl]="editPasswordForm.controls['oldPassw']" type="password" class="form-control">
    </div>

    <div class="form-group" [ngClass]="{'has-error':!isValidControl('newPassw')}">
      <label for="new-passw">
        New password
        <span class="text-danger" *ngIf="!isValidControl('newPassw')">is not valid!</span>
      </label>
      <input id="new-passw" [formControl]="editPasswordForm.controls['newPassw']" type="password" class="form-control">
    </div>
    <div class="buttons">
      <button type="submit" class="btn btn-success btn-md" [disabled]="!editPasswordForm.valid">Submit</button>
    </div>
    <div class="message-show" *ngIf="showMessage">
      <div class="wrong-credentials" *ngIf="!correctPassword; else success">
        It seems that you have entered the wrong password.
      </div>

      <ng-template #success>
        <div class="successful-result">
          The changes are saved.
        </div>
      </ng-template>
    </div>

  </form>

</div>
