.content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: row;
  padding: 80px 12px;
  align-items: flex-start;
  justify-content: center;
}

.edit-options {
  width: 600px;
  margin: 0 20px;
}

.account-title {
  border-bottom: 1px solid lightgrey;
}

.settings textarea {
  resize: none;
}

.settings {
  margin-top: 20px;
  padding: 20px;
}

.account-info {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: center;
}

.buttons {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  [class*="gruvo-block"] {
    padding: 0;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
  }
}
