<div class="content">
  <gr-menu></gr-menu>
  <form class="settings container col-md-5" [formGroup]="editForm" (ngSubmit)="editInfo(editForm.value)">

    <div class="form-group account-title">
      <h4><b>Account</b></h4>
    </div>

    <div class="form-group" [ngClass]="{'has-error':isValidControl('login')}">
      <label for="Login">
        Login
        <span class="text-danger" *ngIf="isValidControl('login')">is not valid!</span>
      </label>
      <input id="Login" [formControl]="editForm.controls['login']" type="text" class="form-control" value={{user?.login}}>
    </div>

    <div class="form-group" [ngClass]="{'has-error':isValidControl('email')}">
      <label for="Email">
        Email
        <span class="text-danger" *ngIf="isValidControl('email')">is not valid!</span>
      </label>
      <input id="Email" [formControl]="editForm.controls['email']" type="email" class="form-control">
    </div>

    <div class="form-group">
      <label for="About">
        About
      </label>
      <textarea id="About" [formControl]="editForm.controls['about']" class="form-control" rows="2" a value={{user?.about}}></textarea>
    </div>

    <div class="form-group">
      <label for="bday">
        Birthday
      </label>
      <input id="bday" [formControl]="editForm.controls['bday']" type="date" class="form-control" value={{user?.birthDay}}>
    </div>


    <button type="submit" class="btn btn-success btn-md" [disabled]="!editForm.valid">Submit</button>

  </form>

  <gr-password-edit></gr-password-edit>

</div>
