<div class="content">
  <div class="tweets-list gruvo-block col-xs-11" id="tweets"
       infiniteScroll
     [infiniteScrollThrottle]="1500"
    [infiniteScrollDistance]="1"
    (scrolled)="onScroll()">
    <gr-search-box></gr-search-box>
    <div class="media">
      <div class="media-left">
        <div class="photo  center-block">
          <img [src]="imgData" class="photo img-responsive img-circle">
        </div>
        <button id="sbscrbtn" *ngIf="paramId" class="center-block btn hidden" (click)="subfunc()"></button>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{user?.login}}</h4>
        {{user?.about}}
      </div>
    </div>
    <br />
    <table class="table">
      <tr>
        <td>
          <div class="btn-followers" (click)="openFollowersModal()">Followers</div>
        </td>
        <td>
          <div class="btn-following" (click)="openFollowingModal()">Following</div>
        </td>
      </tr>
      <tr>
        <td class="subscribers-count">{{numOfSubscribers}}</td>
        <td class="subscriptions-count">{{numOfSubscriptions}}</td>
      </tr>
    </table>
    <hr />
    <div class="right-bottom">
      <gr-tweet *ngFor="let tweet of tweets" [tweet]="tweet"></gr-tweet>
      <div *ngIf="newTweets" class="canLoadMore"><div class="lds-dual-ring"></div></div>
      <gr-scroll-to-top></gr-scroll-to-top>
    </div>
  </div>
  <div class="recommendations gruvo-block">
    <h4>Recommendations</h4>
    <gr-recommendation *ngFor="let user of recommendations" [data]="user"></gr-recommendation>
  </div>
</div>
