.content {
  display: flex;
  flex-flow: row;
  min-height: 100vh;
  justify-content: center;
  align-items: flex-start;
  padding: 80px 0;
}

.photo {
  margin:5px;
  display: block;
  overflow: hidden;
  width: 128px;
  height: 128px;
}

.tweets-list {
  width: 600px;
  padding: 20px;
  margin: 0 20px;
}

.info{
    padding: 10px;
    display: flex;
    flex-flow: column;
    background-color: white;
}




.table a {
  color: darkred;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
td:last-of-type {
  border-right: none;
}
td{
  border-right:1px solid grey;
}
