<div class="content main">
  <gr-menu></gr-menu>
  <div class="left">
    <div class="photo">
      <img src="{{userimg}}">

    </div>
    <div class="info">
      <h2>{{user.login}}</h2>
      <br>
      <p class="">{{user.about}}</p>
      <br>
      <table class="table">
        <tr>
          <td>
            <a href="#">Followers</a>
          </td>
          <td>{{user.followers}}</td>
        </tr>
        <tr>
          <td>
            <a href="#">Followings</a>
          </td>
          <td>{{user.followings}}</td>
        </tr>
        <tr>
          <td>
            <a href="#">Posts</a>
          </td>
          <td>{{user.posts}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="right">
    <div class="righttop">
      <div class="makepost">
        <textarea style=" resize: none;" class="form-control" rows="2" maxlength="256" placeholder="Something something"></textarea>
        <input type="button" class="btn btn-success" value="Post">
      </div>
    </div>
    <div class="rightbottom">
      <gr-tweet *ngFor="let tweet of tweets" [tweet]="tweet"></gr-tweet>
    </div>
  </div>

</div>
