.content {
  display: flex;
  flex-flow: row;
  min-height: 100vh;
  justify-content: center;
  align-items: flex-start;
  padding: 80px 0;
  --picturew: 250px;
  --pictureh: 340px;
}

.photo {
  display: block;
  overflow: hidden;
  width: 128px;
  height: 128px;
}

.make-post{
    display: flex;
    flex-direction: column;
}

  .make-post textarea {
    resize: none;
  }

  .make-post input {
    width: 75px;
    margin-top: 10px;
    margin-left: auto;
  }

.tweets-list {
  width: 600px;
  padding: 20px;
  margin: 0 25px;
}

.table a {
  color: darkred;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
td:last-of-type {
  border-right: none;
}
td{
  border-right:1px solid grey;
}

