.content {
  display: flex;
  flex-flow: row;
  min-height: 100vh;
  justify-content: center;
  align-items: flex-start;
  padding: 80px 0;
}

.recommendations {
  margin-right: -10%;
}

.photo {
  margin: 5px;
  display: block;
  overflow: hidden;
  width: 128px;
  height: 128px;
}

.tweets-list {
  width: 600px;
  padding: 20px;
  margin: 0 20px;
}

.media-body {
  vertical-align: middle;
}

.subscribers-count, .subscriptions-count {
  text-align: center;
}

.btn-followers, .btn-following {
  padding: 10px 10px 10px 10px;
  text-align: center;
  border-radius: 10px;
  background-color: #f4f5f7;
}

.btn-followers:hover, .btn-following:hover {
  background-color: #f4f5f7;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  [class*="gruvo-block"] {
    padding: 0;
    box-shadow: none;
  }

  [class*="tweets-list"] {
    margin: 0 10px;
    padding: 0;
  }

  [class*="recommendations"] {
    display: none;
  }
}
