<div class="content">
  <gr-menu></gr-menu>
  <div class="tweets-list gruvo-block col-xs-11" id="tweets">
    <div class="media">
      <div class="media-left">
        <div class="photo img-circle">
          <img class="img-responsive " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCQTDXAX0S-RLwVQY82kLEyKsyKV8Lxh5ecAKP6hLGA38Voims-w">
        </div>
        <button id="sbscrbtn" *ngIf="paramId" class="center-block btn hidden" (click)="subfunc()"></button>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{user?.login}}</h4>
        {{user?.about}}
      </div>
    </div>
    <br />
    <table class="table table-striped">
      <tr>
        <td>
          <a href="#">Followers</a>
        </td>
        <td>
          <a href="#">Followings</a>
        </td>
        <td>
          <a href="#">Posts</a>
        </td>        
      </tr>
      <tr>
        <td>{{subscribers?.length}}</td>
        <td>{{subscriptions?.length}}</td>
        <td>{{userTweets?.length}}</td>
      </tr>
    </table>
    <hr />
    <div class="right-top">
      <div class="make-post">
        <textarea class="form-control message" rows="2" maxlength="256" placeholder="What are you up to?"></textarea>
        <input type="button" class="btn btn-success" value="Post">
      </div>
    </div>
    <div class="right-bottom">
      <gr-tweet *ngFor="let tweet of userTweets" [data]="tweet"></gr-tweet>
    </div>
  </div>

</div>
