<div class="modal-header">
  <h4 class="modal-title pull-left">Subscribers</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">&times;</button>
</div>
<div class="modal-body">
  <ul class="subscribers-list">
    <li *ngFor="let user of subscribers">
      <a class="user-profile" href="profile/{{user.id}}">{{user.login}}</a>
    </li>
  </ul>
  <button class="btn btn-success btn-sm" (click)="getSubscribers()">Show more</button>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
</div>

