.make-post{
    display: flex;
    flex-direction: column;
}

  .make-post textarea {
    display: block;
    min-height: 80px;
    resize: none;
  }

  .make-post button {
    width: 75px;
    margin: 10px 0;
    margin-left: auto;
    float: right;
  }

