<div class="content ">
    <form class="signup container" [formGroup]="signupForm" (ngSubmit)="SignUp(signupForm.value)">
      <h2>Become a part of Gruvo right now!</h2>
      <div class="form-group">
        <label for="Login">
          Login
          <span class="text-danger" *ngIf="signupForm.controls['login'].hasError('required')">is not valid!</span>
          </label>
        <input id="Login" [formControl]="signupForm.controls['login']" [ngClass]="{'not-valid':!signupForm.controls['login'].valid && signupForm.controls['login'].touched}" type="text" class="form-control" placeholder="Login">
      </div>

      <div class="form-group">
        <label for="Email">
          Email
          <span class="text-danger" *ngIf="!signupForm.controls['email'].valid">is not valid!</span>
        </label>
        <input id="Email" [formControl]="signupForm.controls['email']" [ngClass]="{'not-valid':!signupForm.controls['email'].valid && signupForm.controls['email'].touched}" type="text" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <label for="Password">Password</label>
        <input id="Password" [formControl]="signupForm.controls['password']" [ngClass]="{'not-valid':!signupForm.controls['password'].valid && signupForm.controls['password'].touched}" type="password" class="form-control" placeholder="Password">
      </div>

      <button type="submit" class="btn btn-success btn-md" [disabled]="!signupForm.valid" >Sign Up</button>
    </form>
</div>


