<div class="content">
  <form class="signup container col-md-5" [formGroup]="signupForm">
    <h2>Become a part of Gruvo right now!</h2>
    <div *ngIf="!emailSent">
      <div class="form-group" [ngClass]="{'has-error':isValidControl('login')}">
        <label for="Login">
          Login
          <span class="text-danger" *ngIf="isValidControl('login')">is not valid!</span>
        </label>
        <input id="Login" [formControl]="signupForm.controls['login']" type="text" class="form-control" placeholder="Login">
      </div>

      <div class="form-group" [ngClass]="{'has-error':isValidControl('email')}">
        <label for="Email">
          Email
          <span class="text-danger" *ngIf="isValidControl('email')">is not valid!</span>
          </label>
        <input id="Email" [formControl]="signupForm.controls['email']" type="email" class="form-control" placeholder="Email">
      </div>

      <div class="form-group" [ngClass]="{'has-error':isValidControl('password')}">
        <label for="Password">
          Password
          <span class="text-danger" *ngIf="isValidControl('password')">is not valid!</span>
        </label>
        <input id="Password" [formControl]="signupForm.controls['password']" type="password" class="form-control" placeholder="Password">
      </div>

      <button type="button" class="btn btn-success btn-md" [disabled]="!signupForm.controls['login'].valid || !signupForm.controls['email'].valid || !signupForm.controls['password'].valid" (click)="SentVerificationCode(signupForm.value)">Sign Up</button>
    </div>

    <div class="verificaion" *ngIf="emailSent">
      <div class="successful-result">
        A verification code has been sent to your email address. Enter the code to complete the registration.
      </div>

      <div class="form-group" [ngClass]="{'has-error':isValidControl('verificationCode')}">
        <label for="verificationCode">
          Verification Code
          <span class="text-danger" *ngIf="isValidControl('verificationCode')">is not valid!</span>
        </label>
        <input id="verificationCode" [formControl]="signupForm.controls['verificationCode']" type="text" class="form-control" placeholder="Verification Code">
      </div>

      <button type="button" class="btn btn-success btn-md" [disabled]="!signupForm.valid" (click)="SignUp(signupForm.value)">Confirm</button>
      <button type="button" class="btn btn-success btn-md" (click)="Cancel()">Cancel</button>

    </div>

    <div class="wrong-credentials" *ngIf="!correctCredentials">
      Something gone wrong.
    </div>

    <div class="wrong-credentials" *ngIf="showErrorMessage">
      It seems you entered wrong credentials.
    </div>
  </form>

</div>


