.content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: row;
  padding: 80px 12px;
  align-items: flex-start;
  justify-content:center;
}

.tweets-list {
  width: 600px;
  margin: 0 20px;
  display: flex;
  flex-flow: column;
}

.make-post {
  display: flex;
  justify-content:space-between;
  align-items: flex-start;
  flex-direction: column;
}

.make-post input {
    width: 75px;
    margin-top: 10px;
    margin-left: auto;
  }

.make-post textarea {
  resize: none;
}

@media screen and (max-width: 768px) {
  [class*="gruvo-block"] {
    padding: 0;
    box-shadow: none;
  }

  [class*="tweets-list"] {
    margin: 0 10px;
    padding: 0;
  }
}

