  <ul class="nav">
    <li>
      <a routerLink="/feed">
        <span class="glyphicon glyphicon-home"> Home</span>
      </a>
    </li>

    <li>
      <a routerLink="/profile">
        <span class="glyphicon glyphicon-user"> Profile</span>
      </a>
    </li>

    <li>
      <a routerLink="/settings">
        <span class="glyphicon glyphicon-cog"> Settings</span>
      </a>
    </li>


    <li>
      <a href="api/auth/logout">
        <span class="glyphicon glyphicon-log-out"> Log out</span>
      </a>
    </li>
  </ul>
